@model roider.Models.Progresses

@{
    ViewBag.Title = "Edit Progress";
    Layout = "_Layout";
}

<h2>Edit Progress</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ProgressId" />
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" />
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LessonId" class="control-label"></label>
        <input asp-for="LessonId" class="form-control" />
        <span asp-validation-for="LessonId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LessonStatus" class="control-label"></label>
        <input asp-for="LessonStatus" class="form-control" />
        <span asp-validation-for="LessonStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastAccessedDate" class="control-label"></label>
        <input asp-for="LastAccessedDate" class="form-control" />
        <span asp-validation-for="LastAccessedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>