@model roider.Models.Courses

@{
    Layout = "_Layout";
}

<h1>testing</h1>
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@