@model roider.Models.Enrollments
<h2>Create Enrollment</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <select asp-for="StudentId" class="form-control">
            @foreach (var student in ViewBag.StudentsList)
            {
                <option value="@student.StudentId">@($"{student.StudentId} - {student.StudentName}")</option>
            }
        </select>


        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CourseId" class="control-label"></label>
        <select asp-for="CourseId" class="form-control">
            @foreach (var course in ViewBag.CoursesList)
            {
                <option value="@course.CourseId">@($"{course.CourseId} - {course.CourseTitle}")</option>
            }
        </select>

        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EnrollDate" class="control-label"></label>
        <input asp-for="EnrollDate" class="form-control" type="date"/>
        <span asp-validation-for="EnrollDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>
<div>
    <div class="btn-group" role="group">
        <a asp-action="Index">Back to List</a>
    </div>
</div>